In [1]:
# import dependencies
import pandas as pd
import os
import csv
from sqlalchemy import create_engine

In [2]:
import pymysql
pymysql.install_as_MySQLdb()

In [3]:
# import parks.csv file
park_data=pd.read_csv('parks.csv')
park_data.head()

  Park Code               Park Name State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25    -103.25
4      BISC  Biscayne National Park    FL  172924     25.65     -80.08

In [4]:
# import species.csv file
species_data=pd.read_csv('species.csv')
species_data.head()

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Record Status,Occurrence,Nativeness,Abundance,Seasonality,Conservation Status,Unnamed: 13
0,ACAD-1000,Acadia National Park,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Approved,Present,Native,Rare,Resident,NaN,NaN
1,ACAD-1001,Acadia National Park,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,Present,Native,Abundant,NaN,NaN,NaN
2,ACAD-1002,Acadia National Park,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,Present,Not Native,Common,NaN,Species of Concern,NaN
3,ACAD-1003,Acadia National Park,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,Not Confirmed,Native,NaN,NaN,Endangered,NaN
4,ACAD-1004,Acadia National Park,Mammal,Carnivora,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,Present,Unknown,Common,Breeder,NaN,NaN

In [5]:
# merge parks and species data
combined_data=pd.merge(park_data,species_data,on='Park Name',how='inner')

In [6]:
# Familiarize with combined table
combined_data.head()

,Park Code,Park Name,State,Acres,Latitude,Longitude,Species ID,Category,Order,Family,Scientific Name,Common Names,Record Status,Occurrence,Nativeness,Abundance,Seasonality,Conservation Status,Unnamed: 13
0,ACAD,Acadia National Park,ME,47390,44.35,-68.21,ACAD-1000,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Approved,Present,Native,Rare,Resident,NaN,NaN
1,ACAD,Acadia National Park,ME,47390,44.35,-68.21,ACAD-1001,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,Present,Native,Abundant,NaN,NaN,NaN
2,ACAD,Acadia National Park,ME,47390,44.35,-68.21,ACAD-1002,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,Present,Not Native,Common,NaN,Species of Concern,NaN
3,ACAD,Acadia National Park,ME,47390,44.35,-68.21,ACAD-1003,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,Not Confirmed,Native,NaN,NaN,Endangered,NaN
4,ACAD,Acadia National Park,ME,47390,44.35,-68.21,ACAD-1004,Mammal,Carnivora,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,Present,Unknown,Common,Breeder,NaN,NaN

In [7]:
# Look at dimensions of table
combined_data.shape

(119248, 19)

In [8]:
# See which columns have missing values
combined_data.count()

Park Code              119248
Park Name              119248
State                  119248
Acres                  119248
Latitude               119248
Longitude              119248
Species ID             119248
Category               119248
Order                  117776
Family                 117736
Scientific Name        119248
Common Names           119248
Record Status          119248
Occurrence              99106
Nativeness              94203
Abundance               76306
Seasonality             20157
Conservation Status      4718
Unnamed: 13                 5
dtype: int64

In [9]:
# remove columns that have null values 
clean_df = combined_data.dropna(axis=1, how='any')
clean_df.head()

,Park Code,Park Name,State,Acres,Latitude,Longitude,Species ID,Category,Scientific Name,Common Names,Record Status
0,ACAD,Acadia National Park,ME,47390,44.35,-68.21,ACAD-1000,Mammal,Alces alces,Moose,Approved
1,ACAD,Acadia National Park,ME,47390,44.35,-68.21,ACAD-1001,Mammal,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved
2,ACAD,Acadia National Park,ME,47390,44.35,-68.21,ACAD-1002,Mammal,Canis latrans,"Coyote, Eastern Coyote",Approved
3,ACAD,Acadia National Park,ME,47390,44.35,-68.21,ACAD-1003,Mammal,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved
4,ACAD,Acadia National Park,ME,47390,44.35,-68.21,ACAD-1004,Mammal,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved

In [10]:
# Remove unnecessary 'Record Status' column
del clean_df['Record Status']

In [11]:
# Look at dimensions of the table
clean_df.shape

(119248, 10)

In [12]:
# Check how many different common names are present in column for various species
clean_df.loc[clean_df['Scientific Name'] == 'Alces alces']

,Park Code,Park Name,State,Acres,Latitude,Longitude,Species ID,Category,Scientific Name,Common Names
0,ACAD,Acadia National Park,ME,47390,44.35,-68.21,ACAD-1000,Mammal,Alces alces,Moose
24768,DENA,Denali National Park and Preserve,AK,3372402,63.33,-150.50,DENA-1003,Mammal,Alces alces,Moose
33458,GAAR,Gates Of The Arctic National Park and Preserve,AK,7523898,67.78,-153.30,GAAR-1002,Mammal,Alces alces,Moose
34813,GLAC,Glacier National Park,MT,1013572,48.80,-114.00,GLAC-1004,Mammal,Alces alces,Moose
37366,GLBA,Glacier Bay National Park and Preserve,AK,3224840,58.50,-137.00,GLBA-1001,Mammal,Alces alces,Moose
52176,GRTE,Grand Teton National Park,WY,309995,43.73,-110.80,GRTE-1004,Mammal,Alces alces,"Eurasian Elk, Moose"
63776,ISRO,Isle Royale National Park,MI,571790,48.10,-88.55,ISRO-1000,Mammal,Alces alces,Moose
67467,KATM,Katmai National Park and Preserve,AK,3674530,58.50,-155.00,KATM-1000,Mammal,Alces alces,Moose
68694,KEFJ,Kenai Fjords National Park,AK,669983,59.92,-149.65,KEFJ-1002,Mammal,Alces alces,Moose
69751,KOVA,Kobuk Valley National Park,AK,1750717,67.55,-159.28,KOVA-1002,Mammal,Alces alces,Moose
70775,LACL,Lake Clark National Park and Preserve,AK,2619733,60.97,-153.42,LACL-1001,Mammal,Alces alces,Moose
77079,MEVE,Mesa Verde National Park,CO,52122,37.18,-108.49,MEVE-1002,Mammal,Alces alces,"Eurasian Elk, Moose"
80065,NOCA,North Cascades National Park,WA,504781,48.70,-121.20,NOCA-1002,Mammal,Alces alces,"Eurasian Elk, Moose"
93958,ROMO,Rocky Mountain National Park,CO,265828,40.40,-105.58,ROMO-1005,Mammal,Alces alces,Moose
105593,THRO,Theodore Roosevelt National Park,ND,70447,46.97,-103.45,THRO-1004,Mammal,Alces alces,Moose
106754,VOYA,Voyageurs National Park,MN,218200,48.50,-92.88,VOYA-1000,Mammal,Alces alces,Moose
109606,WRST,Wrangell - St Elias National Park and Preserve,AK,8323148,61.00,-142.00,WRST-1004,Mammal,Alces alces,Moose
111402,YELL,Yellowstone National Park,"WY, MT, ID",2219791,44.60,-110.50,YELL-1004,Mammal,Alces alces,"Eurasian Elk, Moose"

In [13]:
clean_df.loc[clean_df['Scientific Name'] == 'Canis lupus']

,Park Code,Park Name,State,Acres,Latitude,Longitude,Species ID,Category,Scientific Name,Common Names
3,ACAD,Acadia National Park,ME,47390,44.35,-68.21,ACAD-1003,Mammal,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf"
4156,BIBE,Big Bend National Park,TX,801163,29.25,-103.25,BIBE-1010,Mammal,Canis lupus,Gray Wolf
13332,CAVE,Carlsbad Caverns National Park,NM,46766,32.17,-104.44,CAVE-1010,Mammal,Canis lupus,Gray Wolf
19071,CRLA,Crater Lake National Park,OR,183224,42.94,-122.10,CRLA-1008,Mammal,Canis lupus,"Gray Wolf, Wolf"
24771,DENA,Denali National Park and Preserve,AK,3372402,63.33,-150.50,DENA-1006,Mammal,Canis lupus,"Gray Wolf, Wolf"
33462,GAAR,Gates Of The Arctic National Park and Preserve,AK,7523898,67.78,-153.30,GAAR-1006,Mammal,Canis lupus,"Gray Wolf, Wolf"
34819,GLAC,Glacier National Park,MT,1013572,48.80,-114.00,GLAC-1010,Mammal,Canis lupus,Gray Wolf
37369,GLBA,Glacier Bay National Park and Preserve,AK,3224840,58.50,-137.00,GLBA-1004,Mammal,Canis lupus,Gray Wolf
39333,GRBA,Great Basin National Park,NV,77180,38.98,-114.30,GRBA-1011,Mammal,Canis lupus,Gray Wolf
45557,GRSM,Great Smoky Mountains National Park,"TN, NC",521490,35.68,-83.53,GRSM-1008,Mammal,Canis lupus,Gray Wolf
52181,GRTE,Grand Teton National Park,WY,309995,43.73,-110.80,GRTE-1009,Mammal,Canis lupus,"Gray Wolf, Wolf"
54211,GUMO,Guadalupe Mountains National Park,TX,86416,31.92,-104.87,GUMO-1009,Mammal,Canis lupus,Gray Wolf
63779,ISRO,Isle Royale National Park,MI,571790,48.10,-88.55,ISRO-1003,Mammal,Canis lupus,Gray Wolf
67470,KATM,Katmai National Park and Preserve,AK,3674530,58.50,-155.00,KATM-1003,Mammal,Canis lupus,Gray Wolf
68698,KEFJ,Kenai Fjords National Park,AK,669983,59.92,-149.65,KEFJ-1006,Mammal,Canis lupus,Gray Wolf
69755,KOVA,Kobuk Valley National Park,AK,1750717,67.55,-159.28,KOVA-1006,Mammal,Canis lupus,"Gray Wolf, Wolf"
70778,LACL,Lake Clark National Park and Preserve,AK,2619733,60.97,-153.42,LACL-1004,Mammal,Canis lupus,Gray Wolf
72799,LAVO,Lassen Volcanic National Park,CA,106372,40.49,-121.51,LAVO-1018,Mammal,Canis lupus,"Gray Wolf, Wolf"
77083,MEVE,Mesa Verde National Park,CO,52122,37.18,-108.49,MEVE-1006,Mammal,Canis lupus,"Gray Wolf, Wolf"
78326,MORA,Mount Rainier National Park,WA,235625,46.85,-121.75,MORA-1006,Mammal,Canis lupus,Wolf
80070,NOCA,North Cascades National Park,WA,504781,48.70,-121.20,NOCA-1007,Mammal,Canis lupus,"Gray Wolf, Wolf"
83432,OLYM,Olympic National Park,WA,922651,47.97,-123.50,OLYM-1006,Mammal,Canis lupus,"Gray Wolf, Wolf"
85379,PEFO,Petrified Forest National Park,AZ,93533,35.07,-109.78,PEFO-1005,Mammal,Canis lupus,"Gray Wolf, Wolf"
87658,REDW,Redwood National Park,CA,112512,41.30,-124.00,REDW-1015,Mammal,Canis lupus,"Gray Wolf, Wolf"
93963,ROMO,Rocky Mountain National Park,CO,265828,40.40,-105.58,ROMO-1010,Mammal,Canis lupus,Gray Wolf
98945,SEKI,Sequoia and Kings Canyon National Parks,CA,865952,36.43,-118.68,SEKI-1006,Mammal,Canis lupus,"Gray Wolf, Wolf"
105598,THRO,Theodore Roosevelt National Park,ND,70447,46.97,-103.45,THRO-1009,Mammal,Canis lupus,Gray Wolf
106759,VOYA,Voyageurs National Park,MN,218200,48.50,-92.88,VOYA-1005,Mammal,Canis lupus,"Gray Wolf, Plains Wolf, Timber Wolf"
108218,WICA,Wind Cave National Park,SD,28295,43.57,-103.48,WICA-1011,Mammal,Canis lupus,"Gray Wolf, Wolf"
109611,WRST,Wrangell - St Elias National Park and Preserve,AK,8323148,61.00,-142.00,WRST-1009,Mammal,Canis lupus,"Gray Wolf, Wolf"
111408,YELL,Yellowstone National Park,"WY, MT, ID",2219791,44.60,-110.50,YELL-1010,Mammal,Canis lupus,"Gray Wolf, Wolf"
115369,YOSE,Yosemite National Park,CA,761266,37.83,-119.50,YOSE-1005,Mammal,Canis lupus,"Gray Wolf, Wolf"

In [14]:
# Delete Common Names column as they are variable
del clean_df['Common Names']
clean_df.head

<bound method NDFrame.head of        Park Code             Park Name State   Acres  Latitude  Longitude  \
0           ACAD  Acadia National Park    ME   47390     44.35     -68.21
1           ACAD  Acadia National Park    ME   47390     44.35     -68.21
2           ACAD  Acadia National Park    ME   47390     44.35     -68.21
3           ACAD  Acadia National Park    ME   47390     44.35     -68.21
4           ACAD  Acadia National Park    ME   47390     44.35     -68.21
5           ACAD  Acadia National Park    ME   47390     44.35     -68.21
6           ACAD  Acadia National Park    ME   47390     44.35     -68.21
7           ACAD  Acadia National Park    ME   47390     44.35     -68.21
8           ACAD  Acadia National Park    ME   47390     44.35     -68.21
9           ACAD  Acadia National Park    ME   47390     44.35     -68.21
10          ACAD  Acadia National Park    ME   47390     44.35     -68.21
11          ACAD  Acadia National Park    ME   47390     44.35     -68.21
12          ACAD  Acadia National Park    ME   47390     44.35     -68.21
13          ACAD  Acadia National Park    ME   47390     44.35     -68.21
14          ACAD  Acadia National Park    ME   47390     44.35     -68.21
15          ACAD  Acadia National Park    ME   47390     44.35     -68.21
16          ACAD  Acadia National Park    ME   47390     44.35     -68.21
17          ACAD  Acadia National Park    ME   47390     44.35     -68.21
18          ACAD  Acadia National Park    ME   47390     44.35     -68.21
19          ACAD  Acadia National Park    ME   47390     44.35     -68.21
20          ACAD  Acadia National Park    ME   47390     44.35     -68.21
21          ACAD  Acadia National Park    ME   47390     44.35     -68.21
22          ACAD  Acadia National Park    ME   47390     44.35     -68.21
23          ACAD  Acadia National Park    ME   47390     44.35     -68.21
24          ACAD  Acadia National Park    ME   47390     44.35     -68.21
25          ACAD  Acadia National Park    ME   47390     44.35     -68.21
26          ACAD  Acadia National Park    ME   47390     44.35     -68.21
27          ACAD  Acadia National Park    ME   47390     44.35     -68.21
28          ACAD  Acadia National Park    ME   47390     44.35     -68.21
29          ACAD  Acadia National Park    ME   47390     44.35     -68.21
...          ...                   ...   ...     ...       ...        ...
119218      ZION    Zion National Park    UT  146598     37.30    -113.05
119219      ZION    Zion National Park    UT  146598     37.30    -113.05
119220      ZION    Zion National Park    UT  146598     37.30    -113.05
119221      ZION    Zion National Park    UT  146598     37.30    -113.05
119222      ZION    Zion National Park    UT  146598     37.30    -113.05
119223      ZION    Zion National Park    UT  146598     37.30    -113.05
119224      ZION    Zion National Park    UT  146598     37.30    -113.05
119225      ZION    Zion National Park    UT  146598     37.30    -113.05
119226      ZION    Zion National Park    UT  146598     37.30    -113.05
119227      ZION    Zion National Park    UT  146598     37.30    -113.05
119228      ZION    Zion National Park    UT  146598     37.30    -113.05
119229      ZION    Zion National Park    UT  146598     37.30    -113.05
119230      ZION    Zion National Park    UT  146598     37.30    -113.05
119231      ZION    Zion National Park    UT  146598     37.30    -113.05
119232      ZION    Zion National Park    UT  146598     37.30    -113.05
119233      ZION    Zion National Park    UT  146598     37.30    -113.05
119234      ZION    Zion National Park    UT  146598     37.30    -113.05
119235      ZION    Zion National Park    UT  146598     37.30    -113.05
119236      ZION    Zion National Park    UT  146598     37.30    -113.05
119237      ZION    Zion National Park    UT  146598     37.30    -113.05
119238      ZION    Zion National Park    UT  146598     37.30    -113.05
119239      ZION    Zion National Park    UT  146598     37.30    -113.05
119240      ZION    Zion National Park    UT  146598     37.30    -113.05
119241      ZION    Zion National Park    UT  146598     37.30    -113.05
119242      ZION    Zion National Park    UT  146598     37.30    -113.05
119243      ZION    Zion National Park    UT  146598     37.30    -113.05
119244      ZION    Zion National Park    UT  146598     37.30    -113.05
119245      ZION    Zion National Park    UT  146598     37.30    -113.05
119246      ZION    Zion National Park    UT  146598     37.30    -113.05
119247      ZION    Zion National Park    UT  146598     37.30    -113.05

       Species ID        Category                      Scientific Name
0       ACAD-1000          Mammal                          Alces alces
1       ACAD-1001          Mammal               Odocoileus virginianus
2       ACAD-1002          Mammal                        Canis latrans
3       ACAD-1003          Mammal                          Canis lupus
4       ACAD-1004          Mammal                        Vulpes vulpes
5       ACAD-1005          Mammal                      Lynx canadensis
6       ACAD-1006          Mammal                           Lynx rufus
7       ACAD-1007          Mammal                    Mephitis mephitis
8       ACAD-1008          Mammal                     Lutra canadensis
9       ACAD-1009          Mammal                      Martes pennanti
10      ACAD-1010          Mammal                              Mustela
11      ACAD-1011          Mammal                      Mustela erminea
12      ACAD-1012          Mammal                      Mustela frenata
13      ACAD-1013          Mammal                     Mustela macrodon
14      ACAD-1014          Mammal                        Mustela vison
15      ACAD-1015          Mammal                    Odobenus rosmarus
16      ACAD-1016          Mammal                   Halichoerus grypus
17      ACAD-1017          Mammal                       Phoca vitulina
18      ACAD-1018          Mammal                        Procyon lotor
19      ACAD-1019          Mammal                     Ursus americanus
20      ACAD-1020          Mammal                     Eptesicus fuscus
21      ACAD-1021          Mammal            Lasionycteris noctivagans
22      ACAD-1022          Mammal                    Lasiurus borealis
23      ACAD-1023          Mammal                    Lasiurus cinereus
24      ACAD-1024          Mammal                        Myotis keenii
25      ACAD-1025          Mammal                        Myotis leibii
26      ACAD-1026          Mammal                     Myotis lucifugus
27      ACAD-1027          Mammal               Pipistrellus subflavus
28      ACAD-1028          Mammal                     Lepus americanus
29      ACAD-1029          Mammal                    Castor canadensis
...           ...             ...                                  ...
119218  ZION-2766  Vascular Plant  Lithophragma glabrum var. ramulosum
119219  ZION-2767  Vascular Plant                Lithophragma tenellum
119220  ZION-2768  Vascular Plant                 Saxifraga rhomboidea
119221  ZION-2769  Vascular Plant              Selaginella underwoodii
119222  ZION-2770  Vascular Plant                Selaginella utahensis
119223  ZION-2771  Vascular Plant                 Selaginella watsonii
119224  ZION-2772  Vascular Plant                  Calystegia longipes
119225  ZION-2773  Vascular Plant                 Convolvulus arvensis
119226  ZION-2774  Vascular Plant                  Cuscuta denticulata
119227  ZION-2775  Vascular Plant                     Cuscuta indecora
119228  ZION-2776  Vascular Plant                    Cuscuta pentagona
119229  ZION-2777  Vascular Plant                     Ipomoea purpurea
119230  ZION-2778  Vascular Plant              Chamaesaracha coronopus
119231  ZION-2779  Vascular Plant                      Datura wrightii
119232  ZION-2780  Vascular Plant                    Lycium andersonii
119233  ZION-2781  Vascular Plant                      Lycium pallidum
119234  ZION-2782  Vascular Plant                       Lycium torreyi
119235  ZION-2783  Vascular Plant                  Nicotiana attenuata
119236  ZION-2784  Vascular Plant              Nicotiana trigonophylla
119237  ZION-2785  Vascular Plant   Physalis hederifolia var. fendleri
119238  ZION-2786  Vascular Plant    Physalis hederifolia var. palmeri
119239  ZION-2787  Vascular Plant                  Physalis longifolia
119240  ZION-2788  Vascular Plant               Solanum elaeagnifolium
119241  ZION-2789  Vascular Plant                       Solanum nigrum
119242  ZION-2790  Vascular Plant                 Solanum sarrachoides
119243  ZION-2791  Vascular Plant                    Solanum triflorum
119244  ZION-2792  Vascular Plant                      Vitis arizonica
119245  ZION-2793  Vascular Plant                       Vitis vinifera
119246  ZION-2794  Vascular Plant                    Larrea tridentata
119247  ZION-2795  Vascular Plant                  Tribulus terrestris

[119248 rows x 9 columns]>

In [15]:
clean_df.count()

Park Code          119248
Park Name          119248
State              119248
Acres              119248
Latitude           119248
Longitude          119248
Species ID         119248
Category           119248
Scientific Name    119248
dtype: int64

### Connect to local database

In [16]:
rds_connection_string = "root:password@127.0.0.1/parks_db"
engine = create_engine(f'mysql://{rds_connection_string}')

### Check for tables

In [17]:
engine.table_names()

['Park_data', 'Parks_and_Animals', 'Species_data']

### Use pandas to load csv converted DataFrame into database

In [18]:
clean_df.to_sql(name='Parks_and_Animals', con=engine, if_exists='append', index=False)

In [19]:
species_data.to_sql(name='Species_data', con=engine, if_exists='append', index=False)

In [20]:
park_data.to_sql(name='Park_data', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_name table

In [21]:
pd.read_sql_query('select * from Parks_and_Animals', con=engine).head()

,Park Code,Park Name,State,Acres,Latitude,Longitude,Species ID,Category,Scientific Name
0,ACAD,Acadia National Park,ME,47390,44.35,-68.21,ACAD-1000,Mammal,Alces alces
1,ACAD,Acadia National Park,ME,47390,44.35,-68.21,ACAD-1001,Mammal,Odocoileus virginianus
2,ACAD,Acadia National Park,ME,47390,44.35,-68.21,ACAD-1002,Mammal,Canis latrans
3,ACAD,Acadia National Park,ME,47390,44.35,-68.21,ACAD-1003,Mammal,Canis lupus
4,ACAD,Acadia National Park,ME,47390,44.35,-68.21,ACAD-1004,Mammal,Vulpes vulpes

In [22]:
pd.read_sql_query('select * from Species_data', con=engine).head()

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Record Status,Occurrence,Nativeness,Abundance,Seasonality,Conservation Status,Unnamed: 13
0,ACAD-1000,Acadia National Park,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Approved,Present,Native,Rare,Resident,None,None
1,ACAD-1001,Acadia National Park,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,Present,Native,Abundant,None,None,None
2,ACAD-1002,Acadia National Park,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,Present,Not Native,Common,None,Species of Concern,None
3,ACAD-1003,Acadia National Park,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,Not Confirmed,Native,None,None,Endangered,None
4,ACAD-1004,Acadia National Park,Mammal,Carnivora,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,Present,Unknown,Common,Breeder,None,None

In [23]:
pd.read_sql_query('select * from Park_data', con=engine).head()

  Park Code               Park Name State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25    -103.25
4      BISC  Biscayne National Park    FL  172924     25.65     -80.08